.aboutUsViewWrapper {
  width: 100%;
}

.coverWrapper {
  width: 100%;
  background: #8b8b8b;
  height: 484px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.coverMainText {
  font-weight: 400;
  font-size: 43px;
  color: #fff;
}

.aboutUsSection {
  height: 380px;
  padding: 30px;
}

.aboutUsSectionBodyWrapper {
  display: flex;
  justify-content: center;
  padding: 30px 80px;
  width: 65%;
  margin: 0 auto;
}

.aboutUsSectionTitle {
  font-size: 27px;
}

.aboutUsText {
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
}

.footerSection {
  display: grid;
  place-items: center;
  height: 230px;
  background-color: #8B8B8B;
  color: #fff;
  margin-top: 30px;
}

.footerSection > hr {
  width: 80%;
  border: 1px solid;
}

.footerSection > p {
  font-size: 14px;
  text-align: center;
}

.imgIcon {
  width: 87px;
  height: 87px;
  justify-self: start;
}

.footerSection > div {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  width: 80%;
}