.resultsWrapper {
  position: absolute;
  z-index: 5;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  max-height: 200px;
  overflow-y: auto;
  font-size: 14px;
  margin-top: 40px;
  width: 100%;
  box-sizing: border-box;
  color: #000;
  border-radius: 0 0 1rem 1rem;
}

.searchResult {
  padding: 10px 20px;
}

.searchResult:hover {
  background-color: #efefef;
  cursor: pointer;
}