.wrapper {
  border-bottom: 1px solid #000;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3px;
}

.links {
  text-decoration: none;
  color: #000;
}

.leftWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 18px;
  padding: 0 10px;
}

.rightWrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
  font-size: 14px;
  padding: 0 10px;
}

.aboutUs {
  display: flex;
  align-items: center;
  padding: 0 5px;
  text-decoration: none;
  color: #000;
}

.aboutUs:hover {
  background: #8b8b8b;
  cursor: pointer;
}

.loginButton {
  border: 1px solid #000;
  border-radius: 2px;
  width: 110px;
  height: 34px;
  background: rgba(128, 128, 128, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
}

.loginButton:hover {
  background: #8b8b8b;
  cursor: pointer;
}