.appraisalSection {
  height: 410px;
  background: #D9D9D9;
  font-size: 35px;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.appraisalHeader {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
  padding-left: 5px;
  gap: 15px;
}

.appraisalComponentTitle {
  font-size: 27px;
}

.imgIcon {
  width: 40px;
}

.appraisalBody {
  padding: 0px 60px;
}

.formGeneralInfo {
  display: grid;
  height: 100%;
  grid-template-areas: 
   "addr addr strat map map"
   "status status status map map"
   "area area price map map"
   ". . . . submit";
  gap: 15px;
  align-items: center;
}

.formGeneralInfo > input:not([type=submit]),
.formGeneralInfo > select {
  background: rgba(60, 60, 67, 0.29);
  padding-left: 5px;
  height: 40px;
  border: 0px;
  font-size: 16px;
  color: #000;
}

.formGeneralInfo > input[type=number]::placeholder,
.formGeneralInfo > select {
  font-size: 16px;
  color: #000;
}

.strat {
  grid-area: strat;
}

.status {
  grid-area: status;
}

.area {
  grid-area: area;
}

.price {
  grid-area: price;
}


.mapSection {
  grid-area: map;
  height: 305px;
}

.suggestionsList {
  padding: 0;
  margin-top: -25px;
  position: absolute;
  width: 380px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 15px;
}

.suggestionsList li {
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.suggestionsList li:hover {
  background: #f0f0f0;
}


/* step 2 */

.formGuidingQuestions {
  display: grid;
  height: 100%;
  grid-template-columns: 4fr 1fr;
}

.question {
  display: grid;
  font-size: 22px;
  grid-template-rows: 1fr 3fr;
}

.optionsWrapper {
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
}

.genericImage {
  width: 293px;
  height: 221px;
  justify-self: center;
  align-self: center;
}

.bottom {
  display: flex;
  font-size: 16px;
}

.navigationButtons {
  width: 134px;
  height: 40px;
  border: 1px solid #000;
  background: #fff;
  margin-right: 5px;
}

.navigationButtons:disabled {
  border: none;
}

.navigationButtons:disabled:hover {
  cursor: not-allowed;
}

.navigationButtons:hover {
  cursor: pointer;
  background: #8B8B8B;
  color: #fff;
}

/* step 3 */

.formResults {
  display: grid;
  height: 100%;
  grid-template-areas:
   "desc desc desc desc desc"
   "res res res res res"
   "button button button button button"
   ". . . . submit";
  gap: 15px;
  align-items: center;
}

.resultsDescription {
  grid-area: desc;
  font-size: 24px;
  text-align: center;
}

.appraisalResult {
  grid-area: res;
  justify-self: center;
  font-size: 43px;
}

.paperButton {
  grid-area: button;
  height: 40px;
  border: 1px solid #000;
  background: #fff;
  width: 150px;
  justify-self: center;
}

.submit {
  grid-area: submit;
  border-radius: 11px;
  border: none;
  color: #fff;
  background: #8B8B8B;
  font-size: 22px;
  height: 40px;
  justify-self: end;
  padding: 0px 10px;
}

.submit:hover {
  cursor: pointer;
  background: rgba(0, 123, 255, 0.911);
}