*{
  margin: 0;
  padding: 0;
  font-family: 'Lustria', sans-serif;
}

.nav-link-hover:hover {
  background-color: var(--bs-primary);
  color: white;
}

:global(.tooltip-inner) {
  background-color: #3C3C43 !important;
  color: #fff !important;
  font-weight: bold;
  padding: 15px;
  border-radius: 6px;
  font-size: 12px;
  max-width: 331px;
  text-align: justify;
}

:global(.tooltip.show) {
  opacity: 0.8 !important;
}

:global(.tooltip-arrow::before) {
  background-color: #3C3C43 !important;
}

.nav-link-sidebar-hover:hover {
  cursor: pointer;
  background: #8B8B8B;
  color: #FFF
}